* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

body{
    line-height: 1;
}

header{ 
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid #000000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

nav {
  text-align: right;


}

a { 
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica; <!-- Aqui eu quis focar na fonta Fira Code e separei por virgula fontes reserva caso surja erros na fonte principal, ou seja, reserva Arial e se não der certo vai usar Helvetica  -->
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    
}


a::before {
    content: " ";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}<!-- Aqui :: significa que é um pseudo elemento focado para criar os botoes, ou seja, focado em criar algo que nao existe no html em si -->



 <!-- Aqui eu ajusto os botoes quadrados vermelhos do topo  -->
 
 <!--span { 
        
        background-color: #F25A70;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        

} -->


#button {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px black;
    padding: 18px 20px;
    margin-right: 0px;
    transition: 0.5s linear;

}      

#button:hover {
    /*opacity: 0.4;*/
    transform: scale(1.2);
    color: #a354ed;
    
    
}

nav a:hover {
    transform: scale(1.1);
    color: #cc276c;
    transition: 0.5s;
}

div {
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0px black;
    width: 1440px;
    height: 797px;
    padding-top: 80px;
    

}


h1{
    display: inline-block;
    align-items: center;
    font-size: 40px;
    font-family: "Press Start 2P", Arial;
    color: #F25A70;
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
    padding-bottom: 28px;
    margin: 0
}

h2{
    display: inline-block;
    font-size: 30px;
    font-family: "Press Start 2P", Arial;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
    margin: 0
}


#button1:hover {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px black;
    transform: scale(1.2);
    color: red;
 
}

#button2:hover {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px black;
    transform: scale(1.2);
    color: yellow;

}